    <%= link_to  spot_path(spot.id) ,class:'spot-link' do%>
    <div class='spot'>
      <ul class='spot-date'>
        <%# 画像 %>
        <li class='left-date'>
          <% if spot.images[0].blank? %>
          <%= image_tag 'noimage.png', class:'photo'%>
          <% else %>
          <%= image_tag spot.images[0], class:'photo'%>
          <% end %>
        </li>
        <%# 所在地/面積 %>
        <li class='center-date'>
          <div>
            <p><span>[所在]</span><%= spot.address %></p>
            <p><span>[面積]</span>
              <% if spot.size.blank? %>
              未定
              <% else %>
              <%= spot.size %>坪
              <% end %></p>
            <p class='explanation-date'><span>[備考]</span><%= spot.explanation %></p>
          </div>
        </li>
        <%# 価格/取り扱い業者 %>
        <li class='right-date'>
          <div>
            <p class='price'>
              <% if spot.price.blank? %>
              価格 : 未定<br>
              <% else %>
              <b><%= spot.price %></b>万円
              <% end %>
            </p>
            <p class='company-date'><%= spot.estate_agent %></p>
            <p><span>[登録日時]</span><%= l spot.created_at %></p>
            <p><span>[登録者]</span><%= spot.user.name %></p>
          </div>
        </li>
        <%# 契約済み、取り扱い不可の帯を表示 %>
      <% if spot.order.present? %>
      <div class="red-band">
        <span class='band-line'>[<%= spot.order.customer%>様 成約済]</span><span class='band-line'><%= spot.order.user.name  %>さん  おめでとうございます!!!</span>
        <span class='band-time'><%= spot.order.created_at.strftime('%m/%d') %></span>
      </div>
      <% end %>
      <% if spot.close.present? %>
      <div class="blue-band">
        <span class='close-title'>取扱不可</span><span class='close-name'><%= spot.close.user.name %>さん確認済み</span>
        <span class='band-time'><%= spot.close.created_at.strftime('%m/%d') %></span>
      </div>
      <% end %>
      </ul>
    </div>
    <% end %>