<div class='nav'>
  <div class='spot-main'>
    <h1 class='new-spot-title'>
      物件の情報を入力
    </h1>

    <%= form_with model: @spot, id: 'new_spot', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <div class='one-spot'>
        <div class='weight-bold-text'>
          取り扱い業者
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_field :estate_agent, class: 'spot-text', placeholder: '不動産屋もしくは地主の名前' ,maxlength: '50' %>
      </div>

      <div class='one-spot'>
        <div class='weight-bold-text'>
          物件の所在地
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_field :address, class: 'spot-text', placeholder: '都道府県から入力' ,maxlength: '50', id: "access"  %>
      </div>

      <%# googlemap %>
      <%= render 'map'%>
      <input type="button" value="住所から地図を検索" onclick="codeAddress()" class='map-btn'>
      <%= f.text_field :latitude, type:'hidden' %>
      <%= f.text_field :longitude, type:'hidden' %>
      <div id='map'></div>

      <div class='two-spot'>
        <div class='one-title'>
          面積
        </div>
        <div class='one-wrap-unic'>
          <%= f.text_field :size, class: 'spot-text-unic', placeholder: '例）80' ,maxlength: '7' %>
          <p class='unic'>坪</p>
        </div>

        <div class='two-title'>
          価格
        </div>
        <div class='two-wrap-unic'>
          <%= f.text_field :price, class: 'spot-text-unic', placeholder: '例）1000' ,maxlength: '8' %>
          <p class='unic'>
            万円</p>
        </div>
      </div>

      <div class='two-spot'>
        <div class='one-title'>
          水道管設備
          <span class='indispensable'>必須</span>
        </div>
        <div class='one-wrap'>
          <%= f.collection_select(:water_id, Water.all, :id, :name, {},class: 'select-box') %>
        </div>
        <div class='two-title'>
          公図
          <span class='indispensable'>必須</span>
        </div>
        <div class='two-wrap'>
          <%= f.collection_select(:officialmap_id, Officialmap.all, :id, :name, {},class: 'select-box') %>
        </div>
      </div>

      <div class='two-spot'>
        <div class='one-title'>
          謄本
          <span class='indispensable'>必須</span>
        </div>
        <div class='one-wrap'>
          <%= f.collection_select(:transcript_id,Transcript.all, :id, :name, {},class: 'select-box') %>
        </div>
        <div class='two-title'>
          物件に関する問い合わせ先
          <span class='indispensable'>必須</span>
        </div>
        <div class='two-wrap'>
          <%= f.collection_select(:contact_id, Contact.all, :id, :name, {},class: 'select-box') %>
        </div>
      </div>

      <div class='file'>
        <div class='weight-bold-file'>
          現地写真
        </div>
        <div class='click-upload'>
          <p>
            最初の選択ファイルがトップ画像
          </p>
          <%= f.file_field :images, name: 'spot[images][]', data: {index: 0},class: 'spot-image' %>
        </div>
      </div>
      <div id="previews"></div>

      <div class='file'>
        <div class='weight-bold-file'>
          Fax情報<span>(pdf形式)</span>
        </div>
        <div class='click-upload'>
          <p>
            pdfファイルをアップロード
          </p>
          <%= f.file_field :faxdate,class: 'spot-image' %>
        </div>
      </div>

      <div class='weight-bold-text'>
        備考欄
      </div>
      <%= f.text_area :explanation, class: 'spot-text-sentence', placeholder: '補足や注意点等(1000字以内)' ,maxlength: '1000' %>

      <div class='post-btn-contents'>
        <%= f.submit '編集する', class:'spot-btn' ,type: 'button', onClick: 'submit();', id:'wait_btn' %>
        <%= link_to '削除する', spot_path(@spot.id), method: :delete, class:'delete-btn' %>
      </div>
    <% end %>
  </div>
</div>

<%# 待機画面 %>
<div id ="animation_message">
地点を登録中・・・<br>
しばらくお待ちください
</div>
<%= image_tag'indicator.png',id: 'animation'%>
<%= image_tag'animation_marker.png',id: 'animation_marker'%>