<div class='nav'>
  <% unless user_signed_in? %>
  <h1 class='nosign-title'>ご利用にはユーザー登録が必要です</h1>
  <% end %>

  <%= render 'shared/subheader' %>

  <% if user_signed_in? %>
  <div class='search-wrap'>
    <%= search_form_for Spot.ransack(params[:q]), url: search_spots_path do |f| %>
    <div class='search-field'>
      住所<%= f.text_field :address, placeholder: 'スペースを空けて複数検索可', class: 'search-address-field',value: params[:q]&.dig(:address) %>
    </div>
    <div class="search-field">
      価格<%= f.number_field :price_gteq ,placeholder: '上限価格', class: 'search-price'%> 万円〜
      <%= f.number_field :price_lteq ,placeholder: '下限価格', class: 'search-price'%> 万円
    </div>
    <div class = 'search-box'>
    <label><%= f.check_box :order_customer_blank, class: 'check', include_hidden: false %> 制約済みを表示しない</label>
    </div>
    <div class = 'search-box'>
    <label><%= f.check_box :close_not_available_blank, class: 'check', include_hidden: false %> 取扱不可を表示しない</label>
    </div>
    <%= f.submit '検索', class: 'search-btn' %>
    <% end %>
  </div>
  <div class='spot-list'>

    <p class='number-of-properties'><%= "検索結果は#{@spots.count}件です" %></p>
    <ul class='table-title'>
      <li style='width:25%'>画像</li>
      <li style='width:50%' , class='none-border'>所在地/面積</li>
      <li style='width:25%'>価格/取り扱い業者</li>
    </ul>

    <%= render partial:'spot', collection: @spots %>


    <% end %>
  </div>
</div>