<div class='nav'>
  <div class='show-spot'>
    <div class='photo-size'>
      <% if @spot.image.blank? %>
      <%= image_tag 'noimage.png', class:'show-photo'%>
      <% else %>
      <%= image_tag @spot.image ,class:'show-photo' %>
      <% end %>
    </div>
    <table class='photo-table'>
      <tr>
        <% if @spot.image.blank? %>
        <td class='small-photo'><%= image_tag 'noimage.png' ,class:'small-image' %></td>
        <% else %>
        <td class='small-photo'><%= image_tag @spot.image ,class:'small-image' %></td>
        <% end %>
        <td class='small-photo'></td>
        <td class='small-photo'></td>
        <td class='small-photo'></td>
      </tr>
    </table>

    <table>
      <tr>
        <th>取り扱い業者</th>
        <td colspan='3'><%= @spot.estate_agent %></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td colspan='3'><%= @spot.address %></td>
      </tr>
    </table>
    <table class='margin-table'>
      <tr>
        <th>坪数</th>
        <td><%= @spot.size %></td>
        <th>価格</th>
        <td class='price'><%= @spot.price %>万円</td>
      </tr>
    </table>

    <table>
      <tr>
        <th>公図</th>
        <td><%= @spot.officialmap.name %></td>
        <th>謄本</th>
        <td><%= @spot.transcript.name %></td>
      </tr>
      <tr>
        <th>水道</th>
        <td><%= @spot.water.name %></td>
        <th>お問合せ先</th>
        <td><%= @spot.contact.name %></td>
      </tr>
      <tr>
        <th>登録日</th>
        <td><%= l @spot.created_at %></td>
        <th>登録者</th>
        <td><%= @spot.user.name %></td>
      </tr>
      <tr>
        <th>備考欄</th>
        <td colspan='3'><%= @spot.explanation %></td>
      </tr>
    </table>

    <%= link_to '★お気に入り登録★', root_path, class: 'show-favorite' %>
    <div class='show-btn'>
      <% if @spot.user.id == current_user.id %>
      <%= link_to '編集 or 削除', edit_spot_path(@spot.id) ,class: 'gray-btn' %>
      <% end %>
      <div class='side-wrap'>
        <%= link_to '契約する' ,spot_orders_path(@spot.id) ,class: 'red-btn' %>
        <%= link_to '取扱不可',spot_closes_path(@spot.id),class: 'blue-btn'  %>
      </div>
    </div>
  </div>
</div>