<div class='nav'>
  <div class='show-spot'>
    <div class='back-color'>
      <div class='photo-size'>
        <% if @spot.images[0].blank? %>
        <%= image_tag 'noimage.png', class:'show-photo'%>
        <% else %>
        <%= image_tag @spot.images[0] ,class:'show-photo' %>
        <% end %>
        <% if @spot.order.present? %>
        <div class="red-band">
          <span class='band-line'>[制約済]<%= @spot.order.user.name  %>さん </span><span class='band-line'>
            おめでとうございます!!!</span>
        </div>
        <% end %>
        <% if @spot.close.present? %>
        <div class="blue-band">
          <span>取扱不可</span>
        </div>
        <% end %>
      </div>
    </div>

    <table class='photo-table'>
      <tr>
        <% if @spot.images.blank? %>
          <td class='small-photo'><%= image_tag 'noimage.png' ,class:'small-image' %></td>
          <td class='small-photo'></td>
          <td class='small-photo'></td>
          <td class='small-photo'></td>
        <% else %>
          <% @spot.images[1..-1].each_with_index do |image,count| %>
            <td class='small-photo'>
            <% @count = 0 %>
            <%= link_to image, "data-lightbox" => image do %>
              <%= image_tag image, class:'small-image'%>
            <% end %>
            </td>
            <% @count = count %>
          <% end %>
          <% @count = (3-@count) %>
          <% @count.times do %>
            <td class='small-photo'></td>
          <% end %>
        <% end%>
      </tr>
    </table>

    <table>
      <tr>
        <th>取り扱い業者</th>
        <td colspan='3'><%= @spot.estate_agent %></td>
      </tr>
      <tr>
        <th>所在地</th>
        <td colspan='3'><%= @spot.address %></td>
      </tr>
    </table>
    <table class='margin-table'>
      <tr>
        <th>坪数</th>
        <td><%= @spot.size %></td>
        <th>価格</th>
        <td class='price'><%= @spot.price %>万円</td>
      </tr>
    </table>

    <table>
      <tr>
        <th>公図</th>
        <td><%= @spot.officialmap.name %></td>
        <th>謄本</th>
        <td><%= @spot.transcript.name %></td>
      </tr>
      <tr>
        <th>水道</th>
        <td><%= @spot.water.name %></td>
        <th>お問合せ先</th>
        <td><%= @spot.contact.name %></td>
      </tr>
      <tr>
        <th>登録日</th>
        <td><%= l @spot.created_at %></td>
        <th>登録者</th>
        <td><%= @spot.user.name %></td>
      </tr>
      <tr>
        <th>備考欄</th>
        <td colspan='3'><%= @spot.explanation %></td>
      </tr>
    </table>

    <%= render 'favorites/favorite'%>

    <div class='show-btn'>
      <% unless @spot.order.present? || @spot.close.present? %>
      <% if @spot.user.id == current_user.id %>
      <%= link_to '編集 or 削除', edit_spot_path(@spot.id) ,class: 'gray-btn' %>
      <% end %>
      <div class='side-wrap'>
        <%= link_to '契約する' ,spot_orders_path(@spot.id) ,class: 'red-btn' %>
        <%= link_to '取扱不可',spot_closes_path(@spot.id),class: 'blue-btn'  %>
      </div>
      <% end %>
    </div>

    <%# コメント一覧 %>
    <div id='comments'>
      <% @spot.comments.each do |comment| %>
      <p class='comment'>
        <span><%= comment.user.name %>:</span>
        <span><%= comment.text %></span>
        <span class='comment-time'><%= time_ago_in_words(comment.created_at) %>前</span>
      </p>
      <% end %>
    </div>

    <% unless @spot.order.present? || @spot.close.present? %>
    <div class='comment-form'>
      <%= form_with model: [@spot, @comment] , local: true , id: 'comment-form' do |f| %>
      <%= f.text_area :text, class: 'comment-text' ,placeholder: '変更や注意点があればコメントを残してください'%>
      <%= f.submit 'コメントする', class: 'comment-submit', data: {disable_with: false}  %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>