  <div class='sub-title'>
    <% if user_signed_in? %>
    <ul class='top-lists'>
      <li><%= link_to user_path(current_user.id), class: 'top-title' do %>
        <%=current_user.name%>さん<br>マイページ
        <% end %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'top-title' %></li>
      <li><%= link_to '売地を登録する', new_spot_path, class: 'top-title' %></li>
    </ul>
    <% else %>
    <h1 class='nosign-title'>ご利用にはユーザー登録が必要です</h1>
    <ul class='top-lists'>
      <li><%= link_to '新規登録',new_user_registration_path, class: 'top-title-nosign' %></li>
      <li><%= link_to 'ログイン', new_user_session_path, class: 'top-title-nosign' %></li>
      <% end %>
    </ul>
  </div>