<div class='background'></div>
<div class='nav'>
  <div class='order-spot'>

    <%= form_with model: @order, url: spot_orders_path(@spot.id), class: 'transaction-form',local: true do |f| %>
    <%= render 'shared/error_messages',model: f.object %>
    <div class='agreement'>
      <div class='customer'>
        <div class='customer-title'>
          お客様名
          <span class='indispensable'>必須</span>
        </div>
        <%= f.text_field :customer, class: 'customer-text', placeholder: '小泉 孝太郎' %>
      </div>
      <div class='employee'>
        担当営業
        <%= current_user.name %>
      </div>
      <%# エンターキーで送信されないためのダミーのテキストフィールド %>
      <input type="text" name="dummy" style="display:none;">
      <%= f.submit '契約する', class:'agreement-btn',type: 'button', onClick: 'submit();' %>
    </div>
    <% end %>
  </div>
</div>